*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    font-size: 30px;
    min-height: 100vh;
    color: #fff;
    background-color: #000;
    display: grid;
    place-content: center;
}